## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($figureCaptionMacroDisplayName = $services.localization.render('ckeditor.plugin.macro.placeholder', ['figureCaption']))

[data-xwiki-rendering-figure-style="inline"] {
  figcaption,
  [data-cke-display-name="${figureCaptionMacroDisplayName}"] {
    margin-bottom: 0;
    float: left;
    p {
      display: inline;
      vertical-align: middle;
    }
  }

  [data-cke-display-name="${figureCaptionMacroDisplayName}"] {
    p, p * {
      display: inline;
      vertical-align: middle;
    }
  }

  figcaption,
  [data-cke-display-name="${figureCaptionMacroDisplayName}"] {
    p::after {
      content: '\00a0';
    }
  }

  [data-cke-display-name="${figureCaptionMacroDisplayName}"] {
    font-size: @figure-caption-font-size;
    color: @figure-caption-color;

    br {
      display: none;
    }
  }
}